body {
    margin: 0;
}

/* utalities*/
.btn {
    color: #ffffff;
    border-radius: 10px;
    background-color: #3a322f;
    padding: 5px 15px;
    font-size: 15px;
}

.btn:hover {
    background-color: #cebda683;
}

.text-prim {
    color: #3a322f;
    font-size: 18px;
}

.weight {
    font-weight: bold;
}

/* Header for all the pages */
.header {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    padding: 14px 25px;
    font-size: 18px;
    background-color: #3a322f;
}

.header img {
    padding: 3px;
}

.logo {
    width: 200px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.coffee-text {
    white-space: nowrap;
    color: #ffffff;
}

.header-links a {
    color: #fff;
    font-weight: bolder;
    padding: 5px 15px;
    text-decoration: none;
}

/* For Mobile*/
@media (max-width: 600px) {
    .header {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .header-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 16px;
    }

    .header-links button {
        font-size: 16px;
    }
}

/* Index Page*/
.intro {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.intro img {
    width: 100%;
    height: auto;
    display: block;
}

.show {
    background-color: #d1ceceb4;
    width: 100%;
    padding: 15px 300px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.special {
    background-color: #cebfaf;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0;
}

.special-1 {
    text-align: center;
    margin: 60px 0;
}

.special-1 h3 {
    margin: 50px 0;
}

.carousel-container {
    position: relative;
    width: 90%;
    margin: auto;
    padding: 0 60px;
    box-sizing: border-box;
    overflow: hidden;
}

.carousel {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 10px 0;
    scrollbar-width: none;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.card {
    flex: 0 0 auto;
    width: 260px;
    height: auto;
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    background-color: #d1ceceb4;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 0;
}

.card img {
    width: 100%;
    height: 180px;
    border-radius: 12px;
    margin-bottom: 8px;
}

.card h3 {
    margin: 5px 0;
    font-size: 18px;
}

.card p {
    margin: 5px 0;
    font-size: 14px;
}

.card span {
    display: block;
    margin: 3px 0;
    font-weight: bold;
}

.card button {
    margin-top: 5px;
    padding: 8px 12px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #d1ceceb4;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 2;
}

.arrow.left {
    left: 0;
}

.arrow.right {
    right: 0;
}

/* For Mobile*/
@media (max-width: 600px) {
    .intro {
        height: 25vh;
    }

    .show {
        padding: 20px 45px;
        flex-direction: row;
        gap: 15px;
        text-align: center;
        font-size: 15px;
    }

    .show .container img {
        width: 35px;
        height: 35px;
    }

    .special-1 {
        text-align: center;
        margin: 40px 0;
    }

    .special-1 h3 {
        margin: 30px 0;
    }

    .carousel-container {
        padding: 0 30px;
    }

    .carousel {
        margin-left: 10px;
    }

    .card {
        width: 240px;

    }

    .card h3 {
        margin: 0;
    }

}

/* For Tablet */
@media (max-width: 1024px) {
    .show {
        padding: 15px 80px;
        gap: 15px;
        text-align: center;
        font-size: 15px;
        justify-content: space-between;
        box-sizing: border-box;
    }
}


#check {
    background: #d1ceceb4;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

#check div {
    margin-left: 0px;
    margin-right: auto;
    text-align: left;
    width: 500px;
}

#check img {
    max-height: 280px;
}

/* For Mobile */
@media (max-width: 600px) {
    #check img {
        display: none;
    }

    #check {
        justify-content: center;
        text-align: center;
        padding: 20px;
    }

    #check div {
        width: 100%;
        margin: 0;
    }
}

/* For Tablet */
@media (max-width: 1024px) {
    #check img {
        display: none;
    }

    #check {
        justify-content: center;
        text-align: center;
        padding: 20px;
    }

    #check div {
        width: 100%;
        margin: 0;
    }
}

/* Footer for all the pages */
#footer {
    color: #ffffff;
    background: #3a322f;
    padding: 40px 350px;
    justify-content: space-between;
    display: flex;
    align-items: top;
}

#footer .col span {
    align-items: left;
    gap: 10px;
}

#footer .col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#footer .col h3 {
    margin-bottom: 10px;
}

#footer a {
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
}

#footer .social-media {
    display: flex;
    gap: 15px;
}

/* For Mobile */
@media (max-width: 768px) {
    #footer {
        padding: 30px 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 16px;
    }
}

/* For Tablet */
@media (max-width: 1024px) {
    #footer {
        padding: 30px 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (min-width: 1025px) and (max-width: 1366px) {
    #footer {
        padding: 40px 120px;
    }
}

/* About Page*/
#about {
    margin-bottom: 0;
    padding-bottom: 0;
    display: flex;
    background-color: #cebfaf;
}

#about img {
    display: block;
}

#about div {
    padding: 70px 30px;
    color: #3a322f;
}

/* For Mobile */
@media (max-width: 768px) {
    #about {
        flex-direction: column;
        text-align: center;
    }

    #about div {
        padding: 30px 20px 0px 20px;
    }

    #about img {
        padding: 30px 20px 0 20px;
    }
}

/* For Tablet*/
@media (max-width: 1024px) {
    #about {
        flex-direction: column;
        text-align: center;
    }

    #about div {
        padding: 30px 20px 0px 20px;
    }

    #about img {
        padding: 30px 20px 0 20px;
    }
}

/* Menu Page*/
#menu {
    background-color: #cebfaf;
    padding: 0 0 20px 0;
}

.heading {
    text-align: center;
    padding: 50px 0 0 0;
    color: #3a322f;
}

#menu .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
    gap: 150px;
    align-items: center;
    padding: 0 200px;
}

#menu .row .col .item {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    border: 1px solid #ddd;
    padding: 18px 20px;
    align-items: center;
    background-color: #d1ceceb4;
}

#menu .row .col .item img {
    width: 80px;
    height: 80px;
    margin-left: -50px;
}

#menu .row .col .item .details {
    margin-left: 20px;
}

#menu .row .col .item .details h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #3a322f;
}

#menu .row .col .item .details p {
    font-size: 15px;
    line-height: 1.6;
    color: #3a322f;
}

#menu .row .col .item .price {
    border-left: 1px soled #eee;
    padding: 19px;
    margin: auto;
}

#menu .row .col .item .price p {
    font-size: 20px;
    font-weight: 600;
}

/* For Mobile*/
@media (max-width: 768px) {
    #menu .row {
        grid-template-columns: 1fr;
        padding: 0 20px 0 45px;
        row-gap: 30px;
    }

    #menu .row .col {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    #menu .row .col .item {
        margin: 0;
        padding: 0 15px;
    }
}

/* book Page*/
#book {
    background-color: #cebfaf;
}

#book .row {
    display: grid;
    grid-template-columns: 2fr 1.4fr;
    margin-top: 10px;
    padding: 10px 100px 50px 100px;
}

#book .row .book-content {
    background-color: #ffffff;
    padding: 0px 20px 20px 20px;
}

#book .row .book-content h3 {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

#book .row .book-content form input,
#book .row .book-content form textarea {
    display: block;
    width: 100%;
    margin: 15px 0;
    padding: 15px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
}

#book .row .book-content form .btn-submit {
    width: 100%;
    padding: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

#book .row .map {
    min-height: 500px;
}

#book .row .map iframe {
    width: 100%;
    height: 100%;
}

/* For Mobile*/
@media (max-width: 900px) {
    #book .row {
        grid-template-columns: 1fr;
        padding: 20px;
        gap: 20px;
    }
}

/* Our Story page */
#our-story {
    display: flex;
    height: auto;
    background-color: #d1ceceb4;
}

#our-story .story {
    background-color: #cebfaf;
    padding: 15px 40px 0 40px;
    align-items: center;
    margin: 80px 40px;
}

#our-story .story p {
    font-size: 19px;
}

#our-story .story h3 {
    font-size: 21px;
}

/* For Mobile*/
@media (max-width: 768px) {
    #our-story {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    #our-story .story {
        margin: 20px 0;
    }

    #our-story img {
        width: 100%;
        height: auto;
        display: block;

    }
}

/* Order Page */
.cart-container {
    background-color: #d1ceceb4;
    padding: 30px 200px;
    height: 373px;
    font-size: 22px;
    text-align: center;
}

.empty-cart {
    text-align: center;
    padding: 40px 0;
    font-size: 18px;
    color: #555;
}

.cart-header {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    font-weight: bold;
    padding: 12px;
    background-color: #e6e3e3;
    border-bottom: 1px solid #d0cccc;
}

.cart-item {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    padding: 12px;
    background-color: #e6e3e3;
    border-bottom: 1px solid #d0cccc;
}

.cart-header span,
.cart-item span {
    color: #000;
}

/* For Mobile*/
@media (max-width: 768px) {
    .cart-container {
        padding: 20px 10px;
        overflow-x: auto;
        font-size: 16px;
    }

    .cart-header {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        display: grid;
        padding: 10px;
    }

    .cart-item {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 10px;
    }

    .cart-header,
    .cart-item {
        min-width: auto;
    }
}